.pfont{
    font-size: 16px;
    font-weight: bold;
}
.myaffix{
    top: 145px;
    position: fixed;
    left: 65%;

}
.myaffix1{
   top:500px;
}

.mypostbtn{
    width: 15em;  
    height: 2.5em;
    font-weight: 600;
    font-size: 1.2em;
}

.myaffixiv#scrollable {
    overflow-y: scroll;
    background: lightblue;

    position: absolute;
    top:55px; 
    left:20px;
    right:20px;
    bottom:10px;
}
.text-red{
    display: inline;
    color: #e32;
}
.contain {
    position: relative;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contain :hover{
    background: rgb(59, 59, 59);
    opacity: 50%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mylarfont{
    font-size: 22px;
}
.btn-danger{
    background: rgb(236, 68, 6) !important;
}
.required label {
    font-weight: bold;
    margin-right: 10px;
    float: right;
}
.required1 label {
    font-weight: bold;
    margin-right: 10px;
    float: right;
}
.required label:after {
    color: #e32;
    content: '*';
    display:inline;
    font-size: 24px;
}
.mymedfont{
    font-size: 18px;
}
/*FOOTER START///////////////////*/
.footer {
    padding: 50px 0 20px 0;
    background-color: rgba(216, 2, 2, 0.685);
    color: #ffffff;
}
.footer .title{
	text-align: justify;
	color:#fff;
	font-size:25px;
}
.footer .social-icon{
	padding:0px;
	margin:0px;
}
.footer .social-icon a{
	display:inline-block;
	color:#fff;
	font-size:25px;
	padding:5px;
}
.footer .acount-icon a{
	display:block;
	color:#fff;
	font-size:18px;
	padding:5px;
	text-decoration:none;
}
.footer .acount-icon .fa{
	margin-right:25px;
}
.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}
.footer .payment{
	margin:0px;
	padding:0px;
	list-style-type:none
}
.footer .payment li{
	list-style-type:none
}
.footer .pay li a {
    text-decoration: none;
    color: #fff;
    float: left;
    font-size: 16px;
    padding: 2px 2px;
}
.mypan1{
    background: #f0efeff6
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.mynav2{
    background:rgba(216, 2, 2, 0.685);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.btn-xl {
    padding: 5px 100px ;
    font-size: 15px;
    border-radius: 10px;
    /* padding-right: 0%; */
}

@media screen and (max-height: 500px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .myaffix { display: none; } 

    /* show it on small screens */
  }
